.container{
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 1440px) {

    .container{
        padding: 0 30px;
    }

}

@media screen and (max-width: 1160px) {

    .container{
        padding: 0 196px;
    }

}

@media screen and (max-width: 768px) {

    .container{
        padding: 0 96px;
    }

}

@media screen and (max-width: 576px) {

    .container{
        padding: 0 108px;
    }

}

@media screen and (max-width: 390px) {

    .container{
        padding: 0 15px;
    }

}