.header{
    background-color: var(--color-background);
}

.header__container{
    padding: 21px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav{
    max-width: 830px;
    width: 100%;
    margin-left: 10px;
}

.header__nav-list{
    display: flex;
    justify-content: space-between;
}

.header__nav-link{
    text-decoration: none;
    color: var(--color-text);
    text-transform: uppercase;
    font-weight: var(--weight-regular);
}

.header__burger{
    display: none;
}

@media screen and (max-width: 1160px) {

    .header__nav{
        display: none;
    }

    .header__burger{
        display: flex;
    }
}