@import "../base/colors.css";

.button{
    background-color: var(--color-secondary);
    border: none;
    border-radius: 8px;
    color: var(--color-text2);
    font-size: var(--font-size-medium);
    padding: 8px 30px 12px;
    cursor: pointer;
}