:root {
    --color-primary: #EE753E;
    --color-secondary: #272A33;
    --color-confirm: #4FCF36;

    --color-background: #ffffff;

    --color-text: #272A33;
    --color-text2: #FFFFFF;

    --color-border-item: #E0E6ED;
}